Django==1.10
django-appconf==1.0.2
django-compressor==2.1
django-sass-processor==0.4.6
django-el-pagination

# it got some fixes for django 1.10
git+https://github.com/podusowski/django-nested-inline.git

libsass==0.11.1
pytz==2016.6.1
rcssmin==1.0.6
rjsmin==1.0.12
six==1.10.0
psycopg2
arrow
pyproj

git+https://github.com/podusowski/endoapi.git
git+https://github.com/podusowski/gpxpy.git
