$color-accent: #CF4A08;
$color-secondary-background: #eee;
$color-background: #ddd;
$color-background-accent: #fff;
$color-background-upper: #aaa;
$color-text: #000;
$color-accent-text: #333;
$color-border: #999;
$color-border-accent: #bbb;
$color-header: #333;
