@import "colors";
@import "loading_animation";

$font: 'Exo 2', sans-serif;

@mixin text {
    color: $color-text;
    text-shadow: 1px 1px 1px #000;
}

@mixin text-accent {
    color: $color-accent-text;
    text-shadow: 1px 1px 1px #000;
    font-weight: 300;
}

@mixin text-helper {
    color: lighten($color-accent, 30%);
    text-shadow: 1px 1px 1px #000;
    font-weight: 300;
    font-size: 0.7em;
}

@mixin box($color) {
    background-color: lighten($color, 5%);
    background: linear-gradient(135deg, lighten($color, 5%) 0%, darken($color, 2%) 100%);
    border: 1px solid lighten($color, 3%);
    padding: 0.5em;
    overflow: auto;
    border-radius: .3em;
}

@mixin button($color) {
    @include text;
    color: lighten($color, 70%);
    display: inline-block;

    background: linear-gradient(to top,
                                lighten($color, 8%) 0%,
                                darken($color, 8%) 100%);

    padding: 0.5em;
    border: 1px solid darken($color, 30%);
    border-radius: 4px;
    font-weight: normal;

    &:hover {
        $darker: darken($color, 5%);
        background: linear-gradient(to top,
                                    lighten($darker, 8%) 0%,
                                    darken($darker, 8%) 100%);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-background;
    background-image: url(../background.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: $font;

    @include text;
}

a {
    text-decoration: none;
    color: darken(white, 20%);
}

header {
    background-color: $color-accent;
    background-image: url(../spartan.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0.3em 0 0.3em 32px;
}

h2, h3, h4, h5 {
    margin: 0 0 0.2em 0;
    color: darken($color-text, 10%);
    font-weight: 100;
    font-size: 1.5em;
    text-transform: uppercase;
}

h3 {
    font-size: 60%;
}

p {
    margin: 0 0 0.5em 0;
}

table {
    width: 100%;
    border-spacing: 0;
    @include text-accent;

    th {
        background-color: $color-border;
        padding: 0.3em;
        text-align: left;
        font-weight: normal;
        text-transform: uppercase;
        @include text-accent;
    }

    td, th {
        padding: 0.5em;
        border-bottom: 1px solid $color-border;
        border-right: 1px solid $color-border;

        &:first-of-type {
            border-left: 1px solid $color-border;
        }
    }
}

.intro {
    text-align: center;
}

.note {
    @include text-helper;
}

dt,
.name {
    @include text;
}

.note,
.name {
    display: block;
}

strong {
    color: $color-accent;
}

form {
    margin-right: 0.5em;
    display: inline-block;
    width: auto;

    .helptext {
        @include text-helper;
        margin-left: 1em;
    }

    li {
        margin-bottom: 1em;
    }

    label {
        display: block;
        @include text;
        text-transform: uppercase;
        font-weight: 100;
    }

    input[type="submit"]::-moz-focus-inner {
        border: 0;
    }

    input {
        padding: 0.5em;
        font-weight: 100;
        outline: none;
        border-width: 1px;
        border-style: solid;
        font-size: 100%;
        box-sizing: border-box;
    }

    input[type="text"],
    input[type="file"],
    input[type="password"],
    input[type="number"],
    select {
        color: $color-text;
        background: linear-gradient(0deg, lighten($color-background, 10%) 0%,
                                          lighten($color-background, 5%) 100%);
        border: 1px solid black;
        border-radius: 0.2em;
        padding: 0.5em;
        margin-right: 0.1em;
    }

    input[type="submit"] {
        @include button($color-accent);
    }

    input[type="number"] {
        width: 4em;
    }

    // these classes are set from JS because css can't
    // select a label before input
    .file_input_label {
        @include button($color-accent);

    }

    .file_input {
        position: absolute;
        left: -1000px;
    }
}

dl.dashboard-workout {
    @include box(#222);
    margin-right: 0.2em;
    margin-bottom: 0.5em;
    overflow: hidden;
    display: inline-block;
    font-size: smaller;
    min-width: 7em;
    white-space: nowrap;

    dt {
        @include text;
        display: block;
        white-space: nowrap;
        text-transform: uppercase;
        margin-right: 0.5em;
    }

    dd {
        @include text-accent;
        display: block;
    }
}

dl.metric {
    font-size: smaller;
    display: inline-block;
    padding: 0.2em;
    min-width: 5.1em;

    dt {
        white-space: nowrap;
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 5.1em;
    }

    dd {
        @include text;
    }

    dd:first-of-type {
        color: $color-accent;
    }

    &.active {
        border-top: 2px solid $color-accent;
    }

    &.inactive {
        border-top: 2px solid #333;
    }

    &.interactive {
        cursor: pointer;
    }
}

section {
    margin: 0 0.5em 1em 0.5em;
    padding: 0.5em;
    opacity: 0.9;
    background-color: $color-background;
    border: 1px solid $color-border;
    padding: 0.5em;
    overflow: auto;
    border-radius: .3em;
}

.day, .excercise {
    vertical-align: top;
    border-radius: 0.3em;
    border: 1px solid $color-border;
    border-left: 2px solid $color-border-accent;
    margin-bottom: 0.5em;
    background: linear-gradient(135deg, $color-border 0%, $color-background 100%);

    &.active {
        border-left: 2px solid $color-accent;
    }

    &.inactive {
        border-left: 2px solid $color-border-accent;
    }

    .name, .stopwatch {
        display: inline-block;
        color: #aaa;
        margin: 0 0 0 0.5em;
        text-transform: uppercase;
        font-size: smaller;
    }

    .content {
        border: none;
        margin-left: 0.5em;
        vertical-align: top;
        text-transform: uppercase;
        vertical-align: top;
    }

    .toolbox {
        border-top: 1px solid #111;
        background: #080808;
        padding: 0.2em;
    }

    ul {
        display: inline-block;
        border-radius: 0.2em;

        li {
            @include text;
            display: inline-block;
            padding: 0 0.7em 0 0;
            text-align: center;
        }
    }
}

.day {
    min-height: 5em;

    .name {
        width: 2.5em;
    }

    .content {
        padding-top: 0.5em;
        display: inline-block;
        color: #222;
    }
}

.excercise {
    .content {
        padding-bottom: 0.3em;
    }
}

nav {
    background-color: lighten($color-background, 5%);
    margin-bottom: 1em;
    padding: 0.3em;

    .toolbox {
        a {
            margin-top: 0.5em;
            @include button(darken($color-secondary-background, 30%))
            font-size: smaller;
        }

        a.dangerous {
            @include button(darken(red, 30%))
        }
    }

    &.menu {
        #toggle-menu {
            @include button(darken($color-secondary-background, 20%))
        }
    }

    #menu-content {
        a {
            display: block;
            padding: 0.5em;
            border-top: 1px solid #222;
        }

        a:first-of-type {
            border-top: none;
        }
    }
}

nav {
    #menu-content {
        display: none;
    }
}

@media screen and (min-width: 650px) {
    nav {
        #menu-content {
            display: inline-block;
            a {
                @include button(darken($color-secondary-background, 10%))
                display: inline-block;

            }
        }
    }

    .mobile {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .desktop {
        display: none;
    }
}

.button {
    @include button(darken($color-secondary-background, 10%))
}

.red_button,
.dangerous {
    @include button(darken(red, 30%))
}

.green_button {
    @include button(darken(green, 30%))
}

.form-value-shortcut {
    @include button(darken($color-secondary-background, 15%));
    margin-right: 0.2em;
    font-size: 100%;
}

.endless_page_link,
.endless_page_current {
    @include text-helper;
    padding: 0.5em;
    margin: 0;
    strong {
        margin: 0;
    }
}

.percent-bar {
    margin-top: 0.5em;
    display: block;
    height: 2px;
    background-color: #222;
    overflow: hidden;

    div {
        height: 2px;
        background-color: silver;
        display: block;
    }

    &.ON_TRACK > div {
        background-color: $color-accent;
    }

    &.BEHIND > div {
        background-color: red;
    }

    &.AHEAD > div {
        background-color: green;
    }
}

footer {
    font-size: smaller;
    text-align: center;
}
