$primary_color: #CF4A08;
$secondary_color: #444;
$background-color: black;

@mixin text1 {
    color: #999;
    text-shadow: 1px 1px 1px #000;
}

@mixin text2 {
    color: white;
    text-shadow: 1px 1px 1px #000;
    font-weight: 100;
}

@mixin text3 {
    color: lighten($primary_color, 30%);
    text-shadow: 1px 1px 1px #000;
    font-weight: 100;
    font-size: 0.7em;
}

@mixin fancy_box($color) {
    background-color: lighten($color, 5%);
    background: linear-gradient(135deg, lighten($color, 5%) 0%, darken($color, 2%) 100%);
    border: 1px solid lighten($color, 3%);
    padding: 0.5em;
    overflow: auto;
    border-radius: .3em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: pan-y pinch-zoom double-tap-zoom;
    color: invert($background-color);
}

body {
    background-color: $background-color;
    font-family: Calibri, 'Open Sans', sans-serif;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.header {
    font-weight: 100;
    font-size: 1.2em;

    background-color: $primary_color;

    h1,
    h1 a {
        letter-spacing: -2px;
        font-size: 1.2em;
        text-shadow: 0px 0px 3px darken($primary_color, 20%);
        color: lighten($primary_color, 20%);
    }

    h1,
    .user {
        display: inline;
        vertical-align: middle;
        padding: 0.4em;
    }

    .user {
        font-size: smaller;
    }
}

h2, h3, h4, h5 {
    margin: 0 0.5em 0.3em 0.5em;
    color: darken($primary_color, 10%);
    font-weight: 100;
    font-size: 1.2em;
    text-transform: uppercase;
}

h3 {
    font-size: 60%;
}

p {
    padding: 0.2em;
}

table {
    width: 100%;
    border-spacing: 0;
    @include text2;

    th {
        background-color: lighten($background-color, 10%);
        padding: 0.3em;
        text-align: left;
        font-weight: normal;
        text-transform: uppercase;
    }

    td, th {
        padding: 0.5em;
        border-bottom: 1px solid lighten($background-color, 10%);
        border-right: 1px solid lighten($background-color, 10%);
    }
}

.note {
    @include text3;
}

dt,
.name {
    @include text1;
}

.note,
.name {
    display: block;
}

dd {
    @include text2;
}

dt,
label {
    margin-bottom: 0.2em;
    display: inline-block;
    width: 5em;
    vertical-align: middle;
}

@mixin important-value {
    background-color: $secondary_color;
    border-radius: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

strong
{
    @include important-value;
}

@mixin button($color) {
    text-shadow: 1px 1px 1px #000;
    font-weight: 100;
    color: lighten($color, 70%);

    display: inline-block;

    background: linear-gradient(to top,
                                lighten($color, 8%) 0%,
                                darken($color, 8%) 100%);

    border-color: darken($color, 30%);
    padding: 0.5em;
    border: 1px solid darken($color, 30%);
    border-radius: 0.2em;

    &:hover {
        $darker: darken($color, 5%);
        background: linear-gradient(to top,
                                    lighten($darker, 8%) 0%,
                                    darken($darker, 8%) 100%);
    }
}

form {
    margin-top: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    width: auto;

    input[type="submit"]::-moz-focus-inner {
        border: 0;
    }

    input {
        padding: 0.2em;
        font-size: larger;
        font-weight: 100;
        outline: none;
        border-width: 1px;
        border-style: solid;
        height: 2em;
    }

    input[type="text"],
    input[type="password"],
    input[type="number"] {
        background: linear-gradient(0deg, lighten($background-color, 5%) 0%, darken($background-color, 5%) 100%);
        border: 1px solid black;
    }

    input[type="submit"] {
        @include button(#111);
        padding: 0.2em 0.5em 0.2em 0.5em;
    }

    input[type="number"] + input[type="submit"],
    input[type="text"] + input[type="submit"] {
        border: 1px solid black;
        border-left: 0;
        border-radius: 0 0.2em 0.2em 0;
    }

    input[type="number"] {
        width: 4em;
    }
}

dl {
    @include fancy_box(#222);
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    font-size: smaller;
    min-width: 7em;

    dt {
        display: block;
        width: 100%;
        vertical-align: middle;
        white-space: nowrap;
        @include text1;
        text-transform: uppercase;
        margin-right: 0.5em;
        padding-bottom: -0.3em;
    }

    dd {
        display: block;
        vertical-align: middle;
        @include text2;
    }
}

dl.vertical {
    display: block;
}

ul {
    display: inline-block;

    li {
        display: inline-block;
        margin-right: 0.5em;
    }
}

section {
    margin: 0 0.5em 1em 0.5em;
    overflow: auto;
    padding: 0;
}

.day-container, .excercise {
    min-height: 5em;
    vertical-align: top;
    border-radius: 0.3em;
    border: 1px solid #111;
    border-left: 2px solid $primary_color;
    margin-bottom: 0.5em;
    background: linear-gradient(135deg, #111 0%, black 100%);
}

.active_day {
    border-left: 2px solid $primary_color;
}

.inactive_day {
    border-left: 2px solid #333;
}

.day-name, .excercise_title {
    display: inline-block;
    margin: 0 1em 0 0;
    color: #aaa;
    padding: 0.5em;
    text-transform: uppercase;
    font-size: smaller;
}

.day-name {
    width: 3em;
}

.day-content, .excercise_content {
    border: none;
    margin-left: 0.5em;
    vertical-align: top;

    font-weight: 100;
    color: #444;
    text-transform: uppercase;
    vertical-align: top;
}

.day-content {
    padding-top: 0.5em;
    display: inline-block;
}

.excercise_content {
    padding-bottom: 0.5em;
}

nav {
    background-color: lighten($background-color, 5%);
    margin-bottom: 1em;
    padding: 0.5em;

    a {
        @include button($secondary_color)
    }
}

.button {
    @include button(darken($secondary_color, 10%))
}

.red_button,
.dangerous {
    @include button(darken(red, 30%))
}

.green_button {
    @include button(darken(green, 30%))
}

.form-value-shortcut {
    @include button(darken($secondary_color, 10%))
    padding: 0.2em 0.5em 0.2em 0.5em;
    margin: 0.2em;
    border-radius: 0.3em;
}

.loading {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0;
    border-top: 2px solid lighten($primary_color, 30%);
    border-left: 1px solid lighten($primary_color, 30%);
    border-radius: 50%;
    animation: spin 2000ms infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.endless_page_link,
.endless_page_current {
    @include text3;
    padding: 0.5em;
    margin: 0;
    strong {
        margin: 0;
    }
}
