{% extends "statistics/base.html" %}

{% block content %}

<h2>your monthly goals</h2>
<section>
    {% if goals.all %}
        <table>
        <tr>
            <th>name</th>
            <th>goal</th>
            <th>progress</th>
            <th>%</th>
            <th>manage</th>
        </tr>
        {% for goal in goals.all %}
            <tr>
                <td>
                    <a href="{% url 'workout_statistics' goal.name %}">
                        {{ goal.name }}
                    </a>
                </td>
                <td>{{ goal.volume }}</td>
                <td>{{ goal.progress }}</td>
                <td>{{ goal.percent }}%</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No gloas defined.</p>
    {% endif %}
</section>

<h2>add new or modify existing goal</h2>
<section>
    <form action="{% url 'add_goal' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="name" required />
        <input type="number" name="volume" placeholder="volume" required />
        <input type="submit" value="create" />
    </form>
    <p class="note">Volume can be reps or kilometers.</p>
</section>

{% endblock %}
