{% extends "statistics/base.html" %}

{% block content %}

<section>
    <h2>your monthly goals</h2>
    {% if goals.all %}
        <table>
        <tr>
            <th>name</th>
            <th>goal</th>
            <th>progress</th>
            <th>%</th>
        </tr>
        {% for goal in goals.all %}
            <tr>
                <td>
                    <a href="{% url 'workout_statistics' goal.name %}">
                        {{ goal.name }}
                    </a>
                </td>
                <td>{{ goal.volume }}</td>
                <td>{{ goal.progress }}</td>
                <td>{{ goal.percent }}%</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No gloas defined.</p>
    {% endif %}

    <h2>workouts without a goal</h2>

    {% for workout in goals.workouts_not_having_goal %}
        <a class="form-value-shortcut" href="{% url 'workout_statistics' workout %}">
            {{ workout }}
        </a>
    {% endfor %}
</section>

{% endblock %}
