<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, minimal-ui, user-scalable: no">

    {% load sass_tags %}
    {% load staticfiles %}

    <link href="{% sass_src 'training/style.scss' %}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,400" rel="stylesheet">

    <link rel="icon" href="{% static 'training/64.png' %}" sizes="64x64" type="image/png">

    <meta name="msapplication-square70x70logo" content="{% static 'training/70.png' %}" />
    <meta name="msapplication-square150x150logo" content="{% static 'training/150.png' %}" />
    <!-- <meta name="msapplication-wide310x150logo" content="widetile.png" /> -->
    <meta name="msapplication-square310x310logo" content="{% static 'training/310.png' %}" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>

    <title>spartan</title>
</head>

<body>
    <div class="header">
        <div>
            <a href="{%url 'index'%}"><img src="{% static 'training/spartan.svg' %}" /></a>
        </div>

        <div>
            {%if request.user.is_authenticated%}
                logged as <a href="{% url 'user_profile' %}">{{request.user.username}}</a> (<a href="{% url 'logout' %}">logout</a>)
            {%else%}
                not logged in
            {%endif%}
        </div>
    </div>

    <script>
    function toggleMenu() {
        $("#menu-content").toggle();
    }
    </script>

    {% block nav %}
        <nav class="menu">
            {% if request.user.is_authenticated %}
                <div class="toolbox">
                    {% block toolbox %}
                    {% endblock %}
                </div>

                <a class="toggle" href="#" onclick="toggleMenu()">&#9776;</a>

                <div id="menu-content">
                    <a href="{% url 'dashboard' %}">dashboard</a>
                    <a href="{% url 'start_workout' %}">new workout</a>
                    <a href="{% url 'upload_gpx' %}">upload gpx</a>
                    <a href="{% url 'endomondo' %}">endomondo</a>
                    <a href="{% url 'statistics' %}">statistics</a>
                    <a href="{% url 'explorer' %}">explore</a>
                </div>
            {% endif %}
        </nav>
    {% endblock %}

    {%spaceless%}
    {%block content%}{%endblock%}
    {%endspaceless%}
</body>

</html>
