<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, minimal-ui, user-scalable: no">
<meta name="application-name" content="Spartan">
<meta name="msapplication-TileColor" content="#0E2B5E"/>
<meta name="msapplication-config" content="none"/>
<meta name="msapplication-navbutton-color" content="#4285f4">
<meta name="theme-color" content="{{primary_color_darker}}">

{% load sass_tags %}
<link href="{% sass_src 'training/style.scss' %}" rel="stylesheet" type="text/css" />

{% load staticfiles %}
<script src="{% static 'training/jquery-3.1.0.min.js' %}"></script>

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800" rel="stylesheet"> 

<title>spartan</title>

<head>

<body>

<h1><a href="{%url 'index'%}">spartan</a></h1>
<div class="box user">
{%if request.user.is_authenticated%}
    logged as {{request.user.username}} (<a href="{% url 'logout' %}">logout</a>)
{%else%}
    not logged in
{%endif%}
</div>

{%spaceless%}
{%block content%}{%endblock%}
{%endspaceless%}

</body>

</html>
