{%extends "training/base.html"%}

{%block content%}


<h2>your account</h2>
<div class="box">
    <dl>
        <dt>total workouts</dt><dd>{{previous_workouts.count}}</dd>
        <dt>total reps</dt><dd>{{ total_reps }}</dd>
    </dl>
    <p><a href="{% url 'statistics' %}">more stats</a></p>
</div>

<div class="box">
    <form action="{% url 'start_workout' %}">
        <input type="submit" value="new workout" />
    </form>
</div>

<h2>history</h2>

{% load training_format %}

<div class="box">
    <table>
        <tr>
            <th>started</th>
            <th>duration</th>
            <th>reps</th>
        </tr>
        {% for workout in previous_workouts %}
            <tr>
                <td>
                    <a href="{% url 'workout' workout.id %}">
                        {% if workout.started %}
                            {{workout.started}}
                        {% else %}
                            not started
                        {% endif %}
                    </a>
                </td>
                <td>
                    <a href="{% url 'workout' workout.id %}">
                        {% if workout.live %}live{% else %}{{workout.duration|duration}}{% endif %}
                    </a>
                </td>
                <td><a href="{% url 'workout' workout.id %}">{{workout.total_reps}}</a></td>
            </tr>
        {% endfor %}
    </table>
</div>

{%endblock%}
