{%extends "training/base.html"%}

{%block content%}

<h2>your account</h2>
<div class="box">
    <dl>
        <dt>total workouts</dt><dd>{{previous_workouts.count}}</dd>
    </dl>
</div>

<div class="box">
    <form action="{% url 'start_workout' %}">
        <input type="submit" value="new workout" />
    </form>
</div>

<h2>history</h2>

{% load training_format %}

<div class="box">
    <table>
        <tr>
            <th>status</th>
            <th>started</th>
            <th>duration</th>
            <th>total reps</th>
        </tr>
        {% for workout in previous_workouts %}
            <tr>
                <td><a href="{% url 'training_session' workout.id %}">{{workout.status}}</a></td>
                <td><a href="{% url 'training_session' workout.id %}">{{workout.started}}</a></td>
                <td><a href="{% url 'training_session' workout.id %}">{{workout.duration|duration}}</a></td>
                <td><a href="{% url 'training_session' workout.id %}">{{workout.total_reps}}</a></td>
            </tr>
        {% endfor %}
    </table>
</div>

{%endblock%}
