{% extends "training/base.html" %}

{% block content %}

<script>
    var _imported_count = 0;
    var _loading_div = "<div class=\"loading\"> </div>";

    function _set_status(text, loading=false) {
        if (loading) {
            text = _loading_div + " " + text;
        }
        $("#synchronization_status").html(text);
    }

    function _synchronize() {
        $.post("{% url 'synchronize_endomondo_ajax' %}", {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(result, status) {
            _imported_count += result.imported_count
            _set_status("got " + _imported_count + " workouts, looking for more...", true);

            if (result.imported_count > 0) {
                _synchronize();
            }
            else {
                _set_status("done, you can now see your workouts on the <a href=\"{% url 'dashboard' %}\">dashboard</a>");
            }
        }, "json");
    }

    function synchronize() {
        _imported_count = 0;
        _set_status("synchronizing (site must stay open)...", true);
        _synchronize();
    }
</script>

<section>
    <h2>connect with <a href="http://www.endomondo.com">endomondo</a></h2>

    {% if key %}
        <p>Your account is connected to Endomondo and you can synchronize your workouts.</p>
        <a class="button" href="javascript:synchronize();">synchronize</a>
        <p><span class="note" id="synchronization_status"> </span></p>

        <p>or if you want, you can disconnect or delete all imported workouts (other workouts won't be touched and you can always re-synchronize)</p>
        <a class="red_button" href="{% url 'disconnect_endomondo' %}" onclick="return confirm('are you sure you want to do this?')">disconnect me</a>
        <a class="red_button" href="{% url 'purge_endomondo' %}" onclick="return confirm('are you sure you want to delete all imported workouts?')">purge</a>
    {% else %}
        <form action="{% url 'endomondo' %}" method="post">
            {% csrf_token %}
            <ul>
                {{form.as_ul}}
            </ul>
            <input type="submit" value="connect" />
        </form>
    {% endif %}
</section>

{% endblock %}
