{% extends "training/base.html" %}

{% block content %}

<h2>connect with <a href="http://www.endomondo.com">endomondo</a></h2>
<section>
    {% if key %}
        <p>Your account is connected to Endomondo.</p>
        <p><a href="{% url 'disconnect_endomondo' %}" onclick="return confirm('are you sure you want to do this?')">disconnect me</a></p>
        <p><a href="{% url 'synchronize_endomondo' %}" >synchronize</a> (this may take minutes)</p>
    {% else %}
        <form action="{% url 'endomondo' %}" method="post">
            {% csrf_token %}
            <ul>
                {{form.as_ul}}
            </ul>
            <input type="submit" value="connect" />
        </form>
    {% endif %}
</section>

{% endblock %}
