{%extends "training/base.html"%}

{% block nav %}
<nav>
    <a href="{% url 'dashboard' %}">dashboard</a>
</nav>
{% endblock %}

{%block content%}

{% load staticfiles %}
{% load training_format %}

<link rel="stylesheet" href="https://openlayers.org/en/v3.19.1/css/ol.css" type="text/css">
<script src="https://openlayers.org/en/v3.19.1/build/ol.js"></script>

<section>
    {% for activity in heatmap.activities %}
        <dl class="metric"><dt>{{ activity.activity_type }}</dt><dd>{{ activity.points|length }}</dd></dl>
    {% endfor %}
</section>

<section>
    <div id="map" style="height: 550px"></div>
</section>

<script>

function makeIconStyle(src) {
    return new ol.style.Style({
        image: new ol.style.Icon({
            src: src,
            opacity: 0.7
        })
    });
}

var activities = {
    'running': makeIconStyle('{% static 'training/hexagon-blue.png' %}'),
    'cycling': makeIconStyle('{% static 'training/hexagon-red.png' %}'),
    'walking': makeIconStyle('{% static 'training/hexagon-yellow.png' %}')
};

function scaleStyles(scale, opacity) {
    for (activity_type in activities) {
        activities[activity_type].getImage().setScale(scale);
        activities[activity_type].getImage().setOpacity(opacity);
    }
}

function getActivityStyle(activity_type) {
    if (activity_type in activities) {
        return activities[activity_type];
    } else {
        console.log("no style defined for " + activity_type);
    }
}

function makeHeatmapLayer(activity) {
    var track = new ol.geom.MultiPoint(activity.points);

    var featureLine = new ol.Feature({
        geometry: track
    });

    var sourceLine = new ol.source.Vector({
        features: [featureLine]
    });

    var layer = new ol.layer.Vector({
        source: sourceLine,

        style: function(feature, resolution) {
            if (resolution < 50)
            {
                scaleStyles(2 / resolution, 0.6);
            }
            else
            {
                scaleStyles(0.2, 0.1);
            }
            return getActivityStyle(activity.activity_type);
        }
    });

    return layer
}

function renderMap(target, layers) {
    var osmLayer = new ol.layer.Tile({source: new ol.source.OSM()})

    var map = new ol.Map({
            layers: [osmLayer].concat(layers),
            target: target,
            view: new ol.View({
                center: [0, 0],
                zoom: 8
            })
        });

    var extent = ol.extent.createEmpty();
    layers.forEach(function(layer) {
        ol.extent.extend(extent, layer.getSource().getExtent());
    });

    map.getView().fit(extent, map.getSize());
}

var heatmap = {{ heatmap.json|safe }};
var heatmapLayers = heatmap.map(makeHeatmapLayer);

renderMap('map', heatmapLayers);

</script>

{%endblock%}
