{%extends "training/base.html"%}

{%block content%}

{% load staticfiles %}
{% load training_format %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.20.1/ol.css" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.20.1/ol.js"></script>

<section>
    {% for activity in heatmap.activities %}
        {% with 'training/hexagon-'|add:activity.color|add:'.png' as icon %}
            <dl class="metric interactive active" onclick="toggleLayer(this, '{{ activity.name }}')">
                <dt>
                    <img src="{% static icon %}" width="8" height="8" />
                    {{ activity.name }}
                </dt>
                <dd>
                    {{ activity.points|length }}
                </dd>
            </dl>
        {% endwith %}
    {% endfor %}
</section>

<section>
    <div id="map" style="height: 550px"></div>
</section>

<script>

function makeIconStyle(src) {
    return new ol.style.Style({
        image: new ol.style.Icon({
            src: src
        })
    });
}

var activities = {
    {% for activity in heatmap.activities %}
        {% with 'training/hexagon-'|add:activity.color|add:'.png' as icon %}
            '{{ activity.name }}': makeIconStyle('{% static icon %}'),
        {% endwith %}
    {% endfor %}
};

function scaleStyles(scale, opacity) {
    for (name in activities) {
        activities[name].getImage().setScale(scale);
        activities[name].getImage().setOpacity(opacity);
    }
}

function getActivityStyle(name) {
    if (name in activities) {
        return activities[name];
    } else {
        console.log("no style defined for " + name);
    }
}

function makeHeatmapLayer(activity) {
    var track = new ol.geom.MultiPoint(activity.points);

    var featureLine = new ol.Feature({
        geometry: track
    });

    var sourceLine = new ol.source.Vector({
        features: [featureLine]
    });

    var layer = new ol.layer.Vector({
        source: sourceLine,

        style: function(feature, resolution) {
            if (resolution < 50)
            {
                scaleStyles(2 / resolution, 0.5);
            }
            else
            {
                scaleStyles(0.2, 0.1);
            }
            return getActivityStyle(activity.name);
        }
    });

    layer.name = activity.name;

    return layer
}

function renderMap(target, layers) {
    var osmLayer = new ol.layer.Tile({source: new ol.source.OSM()})

    var map = new ol.Map({
            controls: ol.control.defaults().extend([new ol.control.FullScreen()]),
            layers: [osmLayer].concat(layers),
            target: target
        });

    var extent = ol.extent.createEmpty();
    layers.forEach(function(layer) {
        ol.extent.extend(extent, layer.getSource().getExtent());
    });

    map.getView().fit(extent, map.getSize());

    return map;
}

function findLayer(name) {
    for (key in heatmapLayers) {
        layer = heatmapLayers[key];

        if (layer.name == name) {
            return layer;
        }
    }
}

function toggleLayer(e, name) {
    layer = findLayer(name);

    var visible = !layer.getVisible();
    layer.setVisible(visible);

    if (visible)
    {
        $(e).removeClass('inactive');
        $(e).addClass('active');
    }
    else
    {
        $(e).addClass('inactive');
        $(e).removeClass('active');
    }
}

var heatmapLayers;

$(document).ready(function() {
    heatmapLayers = {{ heatmap.json|safe }}.map(makeHeatmapLayer);
    renderMap('map', heatmapLayers);
});

</script>

{%endblock%}
