{%extends "training/base.html"%}

{% block nav %}
<nav>
    <a href="{% url 'dashboard' %}">dashboard</a>
</nav>
{% endblock %}

{%block content%}

{% load staticfiles %}
{% load training_format %}

<link rel="stylesheet" href="https://openlayers.org/en/v3.19.1/css/ol.css" type="text/css">
<script src="https://openlayers.org/en/v3.19.1/build/ol.js"></script>

<section>
    <div id="map" style="height: 650px"></div>
</section>

<script>

function makeHeatmapLayer(polyline_points) {
    var track = new ol.geom.MultiPoint(polyline_points);

    var featureLine = new ol.Feature({
        geometry: track
    });

    var sourceLine = new ol.source.Vector({
        features: [featureLine]
    });

    var hexagon = new ol.style.Icon({
        src: '{% static 'training/hexagon.png' %}',
        opacity: 0.7
    });

    var styles = [
        new ol.style.Style({
            image: hexagon
        })
    ]

    var layer = new ol.layer.Vector({
        source: sourceLine,

        style: function(feature, resolution) {
            hexagon.setScale(2 / resolution);
            return styles;
        }
    });

    return layer
}

function renderMap(target, layer) {
    var osmLayer = new ol.layer.Tile({source: new ol.source.OSM()})

    var map = new ol.Map({
            layers: [osmLayer, layer],
            target: target
        });

    map.getView().fit(layer.getSource().getExtent(), map.getSize());
}

var points = {{ heatmap|safe }};

renderMap('map', makeHeatmapLayer(points));

</script>

<p>
    points: {{ c }}
</p>

{%endblock%}
