{%extends "training/base.html"%}

{%block content%}

<p>
    <form action="{% url 'start_workout' %}">
        <fieldset class="major">
            <input type="submit" value="new workout" />
        </fieldset>
    </form>
</p>

<h2>history</h2>

<p>
    <ul>
    {% for workout in previous_workouts %}
        <li><a href="{% url 'training_session' workout.id %}">#{{workout.id}}{%if workout.live %}live{%endif%}{%if not workout.started%}not started{%endif%}</a></li>
    {% endfor %}
    </ul>
</p>

{%endblock%}
