{% extends "training/base.html" %}

{% block content %}

<h2>total reps</h2>
<section>
    <canvas id="total_reps" width="100" height="30"></canvas>
    <script>
        Chart.defaults.global.elements.rectangle.borderColor = 'rgba(207, 74, 8, 0.8)';
        Chart.defaults.global.elements.rectangle.backgroundColor = 'rgba(207, 74, 8, 0.8)';

        Chart.defaults.global.elements.line.borderColor = 'rgba(207, 74, 8, 0.8)';
        Chart.defaults.global.elements.line.backgroundColor = 'rgba(207, 74, 8, 0.05)';
        Chart.defaults.global.legend.display = false;

        {% load training_format %}
        data = [{{ reps_per_week | project:"value" | join:"," }}];
        labels = [{{ reps_per_week | project:"time" | js_list | safe }}];

        ctx = $('#total_reps');
        chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    tension: 0,
                    label: "reps",
                    data: data
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>
</section>

{% endblock %}
