<h1>Session {{ training_session.id }}</h1>

<p>
    <ul>
    {% for excercise in training_session.excercise_set.all %}
        <li>
            <form action="{% url 'save_excercise' excercise.id %}" method="post">
                {% csrf_token %}
                <label for="sets_{{ excercise.id }}">{{ excercise.name }}</label>
                <input type="text" id="sets_{{ excercise.id }}" name="sets" value="{{ excercise.sets }}" placeholder="reps" />
                <input type="submit" value="save" />
            </form>
        </li>
    {% endfor %}
    </ul>
</p>

<p>
    <form action="{% url 'add_excercise' training_session.id %}" method="post">
        {% csrf_token %}
        <label for="new_excercise_name">start new excercise</label>
        <input type="text" id="new_excercise_name" name="name" placeholder="excercise name" />
        <input type="submit" value="start" />
    </form>
</p>

<h1>UTD string</h1>
<p>
    <pre>
{{ training_session.utd }}
    </pre>
</p>
