<h1>Session {{ training_session.id }}</h1>

<p>
    <ul>
    {% for excercise in training_session.excercise_set.all %}
        <li>
            {{ excercise.name }}: hi
            <form action="{% url 'save_excercise' excercise.id %}" method="post">
                {% csrf_token %}
                <input type="text" name="sets" value="{{ excercise.sets }}" placeholder="reps" />
                <input type="submit" value="save" />
            </form>
        </li>
    </ul>
{% empty %}
    Start first excercise to begin your session.
{% endfor %}
</p>

<form action="{% url 'add_excercise' training_session.id %}" method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="excercise name" />
    <input type="submit" value="start" />
</form>
