{% load training_format %}

{%if workout.live%}
    <section>
        <dl class="metric"><dt>duration</dt><dd><span data-stopwatch-from="{{workout.started.isoformat}}">--:--</span></dd></dl>
        <dl class="metric"><dt>since last</dt><dd><span id="last_update_stopwatch">--:--</span></dd></dl>
        <dl class="metric"><dt>total reps</dt><dd>{{workout.volume}}</dd></dl>
    </section>
{% endif %}

{% if workout.finished %}
    <section>
        <dl class="metric"><dt>started</dt><dd>{{workout.started}}</dd></dl>
        <dl class="metric"><dt>took</dt><dd>{{workout.duration|duration}}</dd></dl>
        <dl class="metric"><dt>total reps</dt><dd>{{workout.volume}}</dd></dl>
    </section>
{% endif %}

<h2>excercises</h2>
<section>
{% for excercise in workout.excercise_set.all %}
    <div class="excercise {% if forloop.first and workout.live %}active{% endif %}">
        <div class="name">
            {{excercise.name}}
        </div>
        <div class="content">
            {% if forloop.first and not workout.finished %}
                <span class="note" data-stopwatch-from="{{excercise.time_started.isoformat}}">{{excercise.duration|duration}}</span>
            {% else %}
                <span class="note">{{excercise.duration|duration}}</span>
            {% endif %}

            <ul class="reps">
                {% for reps in excercise.reps_set.all %}
                    <li>{{reps.reps}}</li>
                {% endfor %}

                {% if excercise.reps_set.count > 1 %}
                    <li><strong>{{excercise.total_reps}}</strong></li>
                {% endif %}
            </ul>
        </div>

            {% if forloop.first and excercise.time_updated and not workout.finished %}
                <script>
                    $(document).ready(function() {
                        stopwatch("last_update_stopwatch", new Date("{{ excercise.time_updated.isoformat }}"));
                    });
                </script>
            {% endif %}
            {% if forloop.first and not workout.finished %}
                <div class="toolbox">
                    <form action="{% url 'add_reps' excercise.id %}" method="post" id="add_reps">
                        {% csrf_token %}
                        <input type="number" id="sets_{{ excercise.id }}" name="reps" value="{{ excercise.sets }}" placeholder="reps" required />
                        <input type="submit" value="add" />
                    </form>

                    {% for rep in statistics.most_common_reps|slice:":5" %}
                        <a class="form-value-shortcut" href="javascript:add_reps({{ rep }});">+{{ rep }}</a>
                    {% endfor %}
                </div>
            {%endif%}
    </div>
{%empty%}
    excersice is not started until you add first excercise
{%endfor%}
</section>


{% if not workout.finished %}
    <script>
        function add_reps(num) {
            $('#add_reps input[name=reps]').val(num);
            $('#add_reps').submit();
        }

        function start_excercise(name) {
            $('#start_excercise input[name=name]').val(name);
            $('#start_excercise').submit();
        }
    </script>

    <h2>start new excercise</h2>
    <section>
        <form action="{% url 'add_excercise' workout.id %}" method="post" id="start_excercise">
            {% csrf_token %}
            <input type="text" id="new_excercise_name" name="name" placeholder="name" required />
            <input type="submit" value="start" />
        </form>

        {%for excercise,_ in statistics.most_common_excercises|slice:":20"%}
            <a class="form-value-shortcut" href="javascript:start_excercise('{{ excercise }}')">{{ excercise }}</a>
        {%endfor%}
    </section>
{% endif %}
