{% load training_format %}

<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />
<script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>

<h2>summary of {{ gpx.type }}</h2>
<section>
    <dl><dt>started</dt><dd>{{ gpx.start_time }}</dd></dl>
    <dl><dt>distance</dt><dd>{{ gpx.length_2d|distance }} <span class="note">3D: {{ gpx.length_3d | distance }}</span></dd></dl>
    <dl><dt>time</dt><dd>{{ gpx.duration }}</dd></dl>
    <dl><dt>moving time</dt><dd>{{ gpx.moving_time }}</dd></dl>
</section>

<h2>map</h2>
<section>
    <div id="map" style="height: 400px"></div>
</section>

<script>
    var map = L.map('map').setView([0, 0], 13);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var runLayer = omnivore.gpx('{{ gpx.gpxurl }}')
        .on('ready', function() {
                map.fitBounds(runLayer.getBounds());
        }).addTo(map);
</script>
