{%extends "training/base.html"%}

{%block content%}

<h1>Workout #{{workout.id}}</h1>

<nav>
    <a href="{% url 'index' %}">go back</a>
</nav>

{%if not workout.started%}
<p>this workout has not beed started yet, add first excercise to do it</p>
{%endif%}

{% if workout.live %}
<p><input type="text" id="stopwatch" readonly /></p>
{% endif %}

{%if workout.finished%}
<p>started at {{workout.started}} and finished at {{workout.finished}}</p>
{%endif%}

<p>
    <ul>
    {% for excercise in workout.excercise_set.all %}
        <li>
            <form action="{% url 'save_excercise' excercise.id %}" method="post">
                {% csrf_token %}
                <label for="sets_{{ excercise.id }}">{{ excercise.name }}</label>
                <input type="text" id="sets_{{ excercise.id }}" name="sets" value="{{ excercise.sets }}" placeholder="reps" />
                <input type="submit" value="save" />
            </form>
        </li>
    {% endfor %}
    </ul>
</p>

<p>
    <form action="{% url 'add_excercise' workout.id %}" method="post">
        {% csrf_token %}
        <label for="new_excercise_name">start new excercise</label>
        <input type="text" id="new_excercise_name" name="name" placeholder="excercise name" required />
        <input type="submit" value="start" />
    </form>
</p>

{%if not workout.finished%}
<p>
    <form action="{% url 'finish_workout' workout.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="finish workout" />
    </form>
</p>
{%endif%}

{%if workout.finished%}
<h1>UTD string</h1>
<p>
    <pre>
{{ workout.utd }}
    </pre>
</p>
{%endif%}

<script>
    function update_stopwatch(start_time)
    {
        now = new Date();

        var diff = now.getTime() - start_time.getTime();

        document.getElementById('stopwatch').value = format_time(diff);
        refresh = setTimeout(function() { update_stopwatch(start_time); }, 500);
    }

    function format_time(ms)
    {
        var second = Math.floor(ms/1000);
        var minute = Math.floor(ms/60000);
        second = second - 60 * minute + '';
        return minute + 'm ' + second + 's';
    }

    window.onload = function()
    {
        var start_time = new Date("{{workout.started.isoformat}}");
        update_stopwatch(start_time);
    };
</script>

{%endblock%}
