{%extends "training/base.html"%}

{% block toolbox %}
    {% if workout.live %}
        <a href="{% url 'finish_workout' workout.id %}" onclick="return confirm('are you sure this is it?')">finish</a>
    {% endif %}

    <a href="{% url 'delete_workout' workout.id %}" class="dangerous" onclick="return confirm('are you sure you want to delete this workout?')">delete</a>
{% endblock %}

{%block content%}

{% load staticfiles %}
{% load training_format %}

<script src="{% static 'training/stopwatch.js' %}"></script>

<script>
    time_on_server(new Date("{% now 'c' %}"));
</script>

{% if workout.is_gpx %}
    {% include 'training/workout_gpx.inc.html' %}
{% else %}
    {% include 'training/workout_strength.inc.html' %}
{% endif %}

{%endblock%}
