{% load training_format %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>

<h2>{{ gpx.activity_type }}, {{ workout.started }}</h2>
<section>
    <dl><dt>distance</dt><dd>{{ gpx.length_2d|distance }}</dd></dl>
    <dl><dt>time</dt><dd>{{ workout.duration }}</dd></dl>
    <dl><dt>pace</dt><dd>{{ gpx.speed_or_pace }}</dd></dl>

    {% if gpx.average_hr %}
        <dl><dt>avg hr</dt><dd>{{ gpx.average_hr }}</dd></dl>
    {% endif %}
    {% if gpx.average_cad %}
        <dl><dt>avg cadence</dt><dd>{{ gpx.average_cad }}</dd></dl>
    {% endif %}
</section>

<section>
    <div id="map" style="height: 350px"></div>
</section>

<script>
    var map = L.map('map').setView([0, 0], 13);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var points = {{ gpx.points_as_json|safe }};
    var polyline_points = points.map(function (point){ return [point.lat, point.lon]; });

    var polyline = L.polyline(polyline_points, {color: 'red'}).addTo(map);
    map.fitBounds(polyline.getBounds());
</script>
 
{% if gpx.average_hr %}
{% block content %}

<section>
    <canvas id="charts" width="12" height="1"></canvas>
    <script>
        Chart.defaults.global.elements.rectangle.borderColor = 'rgba(207, 74, 8, 0.8)';
        Chart.defaults.global.elements.rectangle.backgroundColor = 'rgba(207, 74, 8, 0.8)';

        Chart.defaults.global.elements.line.borderColor = 'rgba(207, 74, 8, 0.8)';
        Chart.defaults.global.elements.line.backgroundColor = 'rgba(207, 74, 8, 0.05)';
        Chart.defaults.global.legend.display = true;
        Chart.defaults.global.legend.position = "right";

        Chart.defaults.global.defaultFontColor = 'rgba(160, 160, 160, 0.8)';
        Chart.defaults.global.defaultFontFamily = 'Helvetica';
        Chart.defaults.global.defaultFontSize = 12;
        Chart.defaults.global.defaultFontStyle = "Bold";

        {% load training_format %}

        hr_data = [];
        labels = [];
        cad_data = [];
        avg_hr_data = [];
        avg_cad_data = [];

        {% if gpx.hr_chart %}
            hr_data = [{{ gpx.hr_chart | project:"value" | join:"," }}];
            labels = [{{ gpx.hr_chart | project:"time" | join:"," }}];
        {% endif %}

        {% if gpx.cad_chart %}
            cad_data = [{{ gpx.cad_chart | project:"value" | join:"," }}];
            labels = [{{ gpx.cad_chart | project:"time" | join:"," }}];
        {% endif %}

        {% if gpx.average_hr %}
            avg_hr_data = new Array(hr_data.length);
            avg_hr_data.fill({{ gpx.average_hr }});
        {% endif %}

        {% if gpx.average_cad %}
            avg_cad_data = new Array(cad_data.length);
            avg_cad_data.fill({{ gpx.average_cad }});
        {% endif %}

        ctx = $('#charts');
        chart = new Chart(ctx, {
            type: "line",
            data: {
                labels: labels,
                datasets: [{
                    borderColor: "rgba(153, 0, 0, 0.8)",
                    backgroundColor: "rgba(153, 0, 0, 0.1)",
                    label: "Heart rate",
                    fill: true,
                    cubicInterpolationMode: "monotone",
                    pointRadius: 0,
                    data: hr_data
                },
                {
                    borderColor: "rgba(153, 0, 0, 0.4)",
                    backgroundColor: "rgba(153, 0, 0, 0)",
                    label: "Avg HR",
                    fill: false,
                    pointRadius: 0,
                    data: avg_hr_data
                },
                {
                    borderColor: "rgba(0, 76, 153, 0.8)",
                    backgroundColor: "rgba(0, 76, 153, 0.1)",
                    label: "Cadence",
                    fill: true,
                    pointRadius: 0,
                    data: cad_data
                },
                {
                    borderColor: "rgba(0, 76, 153, 0.4)",
                    backgroundColor: "rgba(0, 76, 153, 0)",
                    label: "Avg cad",
                    fill: false,
                    pointRadius: 0,
                    data: avg_hr_data
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        gridLines: {
                            color: "rgba(207, 74, 8, 0.1)"
                        },
                        ticks: {
                            beginAtZero: false
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            color: "rgba(207, 74, 8, 0.1)"
                        },
                        ticks: {
                            maxTicksLimit: 15,
                            minRotation: 0, 
                            maxRotation: 0
                        }
                    }],
                }
            }
        }); 
    </script>
</section>

{% endblock %}
{% endif %}

