{%extends "training/base.html"%}

{% block nav %}
<nav>
    <a href="{% url 'dashboard' %}">dashboard</a>
    <a href="{% url 'delete_workout' workout.id %}" onclick="return confirm('are you sure you want to delete this workout?')">delete</a>

    {% if workout.live %}
        <a href="{% url 'finish_workout' workout.id %}" onclick="return confirm('are you sure this is it?')">finish</a>
    {% endif %}
</nav>
{% endblock %}

{%block content%}

{% load staticfiles %}
{% load training_format %}

<script src="{% static 'training/stopwatch.js' %}"></script>

{% if workout.is_gpx %}
    {% include 'training/workout_gpx.inc.html' %}
{% else %}
    {% include 'training/workout_strength.inc.html' %}
{% endif %}

{%endblock%}
