{% load training_format %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>

<h2>{{ gpx.activity_type }}, {{ workout.started }}</h2>
<section>
    <dl><dt>distance</dt><dd>{{ gpx.length_2d|distance }}</dd></dl>
    <dl><dt>time</dt><dd>{{ workout.duration }}</dd></dl>
    <dl><dt>pace</dt><dd>{{ gpx.speed_or_pace }}</dd></dl>

    {% if gpx.average_hr %}
        <dl><dt>avg hr</dt><dd>{{ gpx.average_hr }}</dd></dl>
    {% endif %}
</section>

<section>
    <div id="map" style="height: 350px"></div>
</section>

<script>
    var map = L.map('map').setView([0, 0], 13);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var polyline = L.polyline({{ gpx.polyline }}, {color: 'red'}).addTo(map);
    map.fitBounds(polyline.getBounds());
</script>

{% block content %}

<h2>HR and Cadence chart</h2>
<section>
    <canvas id="HR" width="4" height="1"></canvas>
    <script>
        Chart.defaults.global.elements.rectangle.borderColor = 'rgba(207, 74, 8, 0.8)';
        Chart.defaults.global.elements.rectangle.backgroundColor = 'rgba(207, 74, 8, 0.8)';

        Chart.defaults.global.elements.line.borderColor = 'rgba(207, 74, 8, 0.8)';
        Chart.defaults.global.elements.line.backgroundColor = 'rgba(207, 74, 8, 0.05)';
        Chart.defaults.global.legend.display = true;

        Chart.defaults.global.defaultFontColor = '#666';
        Chart.defaults.global.defaultFontFamily = 'Helvetica';
        Chart.defaults.global.defaultFontSize = 16;
        Chart.defaults.global.defaultFontStyle = "Bold";

        {% load training_format %}
        hr_data = [{{ gpx.hr_chart | project:"value" | join:"," }}];
        cad_data = [{{ gpx.cad_chart | project:"value" | join:"," }}];
        labels = [{{ gpx.hr_chart | project:"time" | join:"," }}];

        avg_hr_data = new Array(hr_data.length);
        avg_hr_data.fill({{ gpx.average_hr }});
       

        ctx = $('#HR');
        chart = new Chart(ctx, {
            type: "line",
            data: {
                labels: labels,
                datasets: [{
                    borderColor: "rgba(153, 0, 0, 0.8)",
                    backgroundColor: "rgba(153, 0, 0, 0.00)",
                    label: "Heart rate",
                    fill: true,
                    pointRadius: 0,
                    data: hr_data
                },
                {
                    borderColor: "rgba(0, 76, 153, 0.8)",
                    backgroundColor: "rgba(0, 76, 153, 0.00)",
                    label: "Cadence",
                    fill: true,
                    pointRadius: 0,
                    data: cad_data
                },
                {
                    borderColor: "rgba(153, 0, 0, 0.4)",
                    backgroundColor: "rgba(153, 0, 0, 0)",
                    label: "Avg Hr",
                    fill: true,
                    pointRadius: 0,
                    data: avg_hr_data
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        gridLines: {
                            color: 'rgba(207, 74, 8, 0.1)'
                        },
                        ticks: {
                            beginAtZero: false
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            color: 'rgba(207, 74, 8, 0.1)'
                        },
                        ticks: {
                            maxTicksLimit: 40
                        }
                    }],
                }
            }
        });
    </script>
</section>

{% endblock %}

