{% extends 'training/base.html' %}

{% block toolbox %}
    {% if workout.live %}
        <a href="{% url 'finish_workout' workout.id %}" onclick="return confirm('are you sure this is it?')">finish</a>
    {% endif %}

    <a href="{% url 'delete_workout' workout.id %}" class="dangerous" onclick="return confirm('are you sure you want to delete this workout?')">delete</a>
{% endblock %}

{% block content %}

{% load static %}
{% load training_format %}

<script src="{% static 'training/js/stopwatch.js' %}"></script>

<script>
    spartan.stopwatch.saveTimeOnServer(new Date("{% now 'c' %}"));
</script>

{% if workout.live %}
    <section>
        <dl class="metric"><dt>duration</dt>
            <dd><span data-stopwatch-from="{{workout.started.isoformat}}">--:--</span></dd>
        </dl>

        <dl class="metric">
            <dt>since last</dt>
            <dd><span id="last_update_stopwatch" data-beep-sound="{% static 'training/Beep_Short.mp3' %}" data-beep-every="30">--:--</span></dd>
        </dl>

        <dl class="metric"><dt>volume</dt><dd>{{workout.volume}}</dd></dl>
    </section>
{% endif %}

{% if workout.finished %}
    <section>
        <dl class="metric"><dt>started</dt><dd>{{workout.started}}</dd></dl>
        <dl class="metric"><dt>duration</dt><dd>{{workout.duration|duration}}</dd></dl>
        <dl class="metric"><dt>volume</dt><dd>{{workout.volume}}</dd></dl>
    </section>
{% endif %}

<section>
    <form class="big-form" action="{% url 'edit_workout' workout.id %}" method="post">
        {% csrf_token %}
        <textarea name="description" placeholder="your description">{{workout.description}}</textarea>
        <input type="submit" value="save" />
    </form>
</section>

{% for excercise in workout.excercise_set.all %}
    <section>
        <h2>
            <a href="{% url 'workout_statistics' excercise.name %}">
                {{ excercise.name }}
            </a>
        </h2>

        <dl class="metric">
            <dt>duration</dt>
            <dd>
                {% if forloop.first and not workout.finished %}
                    <span data-stopwatch-from="{{excercise.time_started.isoformat}}">{{excercise.duration|duration}}</span>
                {% else %}
                    <span>{{excercise.duration|duration}}</span>
                {% endif %}
            </dd>
        </dl>

        {% if excercise.reps_set.count > 1 %}
            <dl class="metric"><dt>volume</dt><dd>{{ excercise.volume }}</dd></dl>
        {% endif %}

        <div class="excercise">
            <ul class="reps">
                {% for reps in excercise.reps_set.all %}
                    <li>{{ reps.reps }}</li>
                {% endfor %}

                {% if forloop.first and not workout.finished %}
                    <li>
                        {% if excercise.reps_set.count > 0 %}
                            <a class="undo" href="{% url 'undo' workout.id %}" onclick="return confirm('are you sure you want to undo last rep?')">undo</a>
                        {% else %}
                            <a class="undo" href="{% url 'undo' workout.id %}" onclick="return confirm('are you sure you want to delete this excercise?')">delete</a>
                        {% endif %}
                    </li>
                {% endif %}
            </ul>

            {% if forloop.first and excercise.time_updated and not workout.finished %}
                <script>
                    $(document).ready(function() {
                        spartan.stopwatch.stopwatch($('#last_update_stopwatch'), new Date("{{ excercise.time_updated.isoformat }}"));
                    });
                </script>
            {% endif %}

            {% if forloop.first and not workout.finished %}
                <div class="toolbox">
                    <form action="{% url 'add_reps' excercise.id %}" method="post" id="add_reps">
                        {% csrf_token %}
                        <input type="number" id="sets_{{ excercise.id }}" name="reps" value="{{ excercise.sets }}" placeholder="reps" required />
                        <input type="submit" value="add" />
                    </form>

                    {% for rep in statistics.most_common_reps %}
                        <a class="form-value-shortcut" href="javascript:add_reps({{ rep }});">+{{ rep }}</a>
                    {% endfor %}
                </div>
            {%endif%}
        </div>
    </section>
{% empty %}
    <section>
        workout is not started until you start first excercise
    </section>
{% endfor %}

{% if not workout.finished %}
    <script>
        function add_reps(num) {
            $('#add_reps input[name=reps]').val(num);
            $('#add_reps').submit();
        }

        function start_excercise(name) {
            $('#start_excercise input[name=name]').val(name);
            $('#start_excercise').submit();
        }
    </script>

<section>
    <h2>start new excercise</h2>
    <p>
        <form action="{% url 'add_excercise' workout.id %}" method="post" id="start_excercise">
            {% csrf_token %}
            <input type="text" id="new_excercise_name" name="name" placeholder="name" required />
            <input type="submit" value="start" />
        </form>
    </p>

    <p>or you can start one the excercises you did before</p>

    <div class="form-shortcuts">
        {%for excercise,_ in statistics.most_common_excercises %}
            <a class="form-value-shortcut" href="javascript:start_excercise('{{ excercise }}')">{{ excercise }}</a></li>
        {%endfor%}
    </div>
</section>
{% endif %}

{% endblock %}
